 <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta property="og:type" content="website" /><meta property="og:url" content="https://apollodev.me/" />

    <!-- section:seometa -->
    <meta property="og:site_name" content="Apollodev" />
    <meta property="og:keywords" content="Apollo, Apollodev, apollo developer, apollo website, apollodev website, apollodev personal website" />
    <meta property="og:description" content="JavaScript & NodeJS developer" /><meta name="description" content="JavaScript & NodeJS developer" />
    <meta property="og:title" content="apollodev" /><title>Apollodev</title>

    <meta property="twitter:title" content="Apollodev" />
    <meta property="twitter:site" content="@apollodevv" /><meta property="twitter:site:id" content="@apollodevv" /><meta property="twitter:creator" content="@apollodevv" /><meta property="twitter:creator:id" content="@apollodevv" />
    <meta property="twitter:card" content="summary_large_image" />
    <!-- ensection --> <!-- section:themes -->
    <meta name="theme-color" content="#7289da" /><script type="text/javascript" src="assets/serviceWorker.js"></script><link rel="stylesheet" type="text/css" href="assets/0.82258e3463d287354l0.css" /><script>
eval(function(p,a,c,k,e,r){e=function(c){return c.toString(a)};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('2(\'0\'3 1){1.0.4(\'5/0.6\').7(8(9){a.b(\'c d\')})}',14,14,'serviceWorker|navigator|if|in|register|assets|js|then|function|reg|console|log|serviceWorker.js|running!'.split('|'),0,{}))
 </script>
 </head>
