<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>apollodev</title>    
    
    <!-- seo:section -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="apollodev" />
    <meta property="og:description" content="My own personal website" />

    <link rel='stylesheet' type='text/css' href='/assets/main.css' />

</head>
