<!DOCTYPE html><html lang="en-US">
<%- include('includes/head'); -%>
    

<body>
        <div class="profile">
            <img src="assets/942945893243235.gif" alt="apollodev's profile">
            <h1 class="profile-name">apollodev<span class="tag">#7503</span></h1>
        </div>
</body>
</html>
