<!DOCTYPE html><html lang="en-US">
<%- include('../includes/head'); -%>

    <div class="err-status">
        <h1 class="err-code">404</h1>
        <h2 class="err-message">Not Found</h2>
        <a href="/">Go back</a>
</html>
