<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>apollodev</title>

        <!-- section:seometa -->
        <meta name="title" content="apollodev"/>
        <meta name="description" content="Front-end developer."/>
        <meta name="keywords" content="apollodev, personal-site, apollodev contact"/>
        <meta name="theme-color" content="#FFFFFFF"/>

        <link rel="stylesheet" href="src/static/main.css"/>
    </head>

    <body id="content">
        <div id="header-name">
            <div class="dev-name">apollodev</div>
            <p class="dev-info">"NodeJS and JavaScript developer."</p>
        </div>
    </body>
</html>
